.root {
    -main-color: rgba(0,0,0,0.5);
    -fx-background-image: url("../images/background.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: round;
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-font-family: system;
    -fx-font-size: 14px;
}


.text-field {
    -fx-background-color: rgba(255,255,255,.5);
    -fx-background-radius: 20;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-prompt-text-fill: #aaaaaa;
    -fx-padding: 0 44 0 12;
}

.button {
    -fx-background-color: mediumspringgreen;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:cyan;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color:orange;
    -fx-font-size: 20px;
}

/* ScrollPane transparent */
.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

/* Whole scrollbar transparent */
.scroll-bar {
    -fx-background-color: transparent;
}

/* Hide track */
.scroll-bar .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

/* Thumb */
.scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-background-radius: 10em;
}

/* On hover slightly brighter */
.scroll-bar .thumb:hover {
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

/* Hide arrows */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

